# Игнорировать папки сборки
build*/  
debug*/  

# Игнорировать временные и сгенерированные файлы
*.o
*.moc
*.pro.user
Makefile
*.exe
*.dll
*.so
*.dSYM
*.log
*.tmp

# Игнорировать системные файлы
.DS_Store
Thumbs.db